<div class="row">
              <div class="col-md-12">
                  <%= link_to 'Add a New Institution', new_institution_path %><br><br>
                <!-- BOX -->
                <div class="box border inverse">
                  <div class="box-title">
                    <h4><i class="fa fa-table"></i>Institutions</h4>
                   
                  </div>
                  <div class="box-body">
                    <table id="datatable3" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Institution Name</th>
                          <th class="hidden-xs">City</th>
                          <th class="hidden-xs">State</th>
                          <th class="hidden-xs">Country</th>
                          <th>Actions</th> 
                        </tr>
                      </thead>
                      <tbody>
                        <% @institutions.each do |institution| %>
                          <tr>
                            <td><%= institution.institutionname %></td>
                            <td class="hidden-xs"><%= institution.city %></td>
                            <td class="hidden-xs"><%= institution.state %></td>
                            <td class="hidden-xs"><%= institution.country %></td>
                            <td><%= link_to 'Edit', edit_institution_path(institution) %> | <%= link_to 'Delete', institution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                                  
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Institution Name</th>
                          <th class="hidden-xs">City</th>
                          <th class="hidden-xs">State</th>
                          <th class="hidden-xs">Country</th>
                          <th class="hidden-xs">Actions</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <!-- /BOX -->

              </div>
            </div>
<br />
<br />



<%= render 'shared/javascript' %>

<script>
    jQuery(document).ready(function() {   
      App.setPage("dynamic_table");  //Set current page
      App.init(); //Initialise plugins and elements      
    });
  </script>