<p id="notice"><%= notice %></p>

<p>
  <b>Classification:</b>
  <%= @faculty_classification.classification %>
</p>


<%= link_to 'Edit', edit_faculty_classification_path(@faculty_classification) %> |
<%= link_to 'Back', faculty_classifications_path %>



 <%= render 'shared/javascript' %>

    <script>
        jQuery(document).ready(function() {     
            App.setPage("show_classifications");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>