<%= form_for(@cap_date) do |f| %>
  <% if @cap_date.errors.any? %>
    <div class="alert alert-block alert-danger">
      <!-- <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a> -->
      <h2><%= pluralize(@cap_date.errors.count, "error") %> prohibited this CAP date entry from being saved:</h2>

      <ul>
      <% @cap_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <%= hidden_field_tag :affiliate_id, params[:affiliate_id] %>

  <div class="form-group">
    <div class="input-group">
      <%= f.label :certificatedate, "CAP Expiration Date", :class=>'control-label' %><br />
      <%= f.text_field :certificatedate , :class=>'form-control' , 'data-mask' => "99/99/9999" %>
      <span class="help-block">99/99/9999</span>
    </div>
  </div>
  <!--
  <div class="form-group">
    <div class="input-group">
    <%= f.label :status, "CAP Status", :class=>'control-label' %><br />
    <%= f.text_field :status , :class=>'form-control' , 'data-mask' => "99/99/9999"%>
    <span class="help-block">99/99/9999</span>
    </div>
  </div>
  -->

  <div class="form-group">
    <div class="input-group">
      <%= label_tag(:status, "CAP Status") %><br>
      <%= collection_select(:cap_date, :status, Capstatus.all, :id, :status, { :selected =>  params[:id] }, :class=>'col-sm-6 form-control') %>
    </div>
  </div>

  <!--
  <div class="form-group">
    <div class="input-group">
    <%= f.label :meetingdate, "CAP Meeting Date", :class=>'control-label' %><br />
    <%= f.text_field :meetingdate , :class=>'form-control' , 'data-mask' => "99/99/9999" %>
    <span class="help-block">99/99/9999</span>
    </div>
  </div>
 -->

  <div class="actions">
    <%= f.submit "Update CAP dates" %>
  </div>
<% end %>
