<p id="notice"><%= notice %></p>

<p>
  <b>Usertype:</b>
  <%= @usertype.usertype %>
</p>

<p>
  <b>Description:</b>
  <%= @usertype.description %>
</p>


<%= link_to 'Edit', edit_usertype_path(@usertype) %> |
<%= link_to 'Back', usertypes_path %>
