<p id="notice"><%= notice %></p>

<p>
  <b>Position title:</b>
  <%= @com_dates_appt.position_title %>
</p>

<p>
  <b>Position start date:</b>
  <%= @com_dates_appt.position_start_date %>
</p>

<p>
  <b>Position end date:</b>
  <%= @com_dates_appt.position_end_date %>
</p>

<p>
  <b>Academic title:</b>
  <%= @com_dates_appt.academic_title %>
</p>

<p>
  <b>Academic start date:</b>
  <%= @com_dates_appt.academic_start_date %>
</p>

<p>
  <b>Position end date:</b>
  <%= @com_dates_appt.position_end_date %>
</p>

<p>
  <b>Admin1 title:</b>
  <%= @com_dates_appt.admin1_title %>
</p>

<p>
  <b>Admin1 start date:</b>
  <%= @com_dates_appt.admin1_start_date %>
</p>

<p>
  <b>Admin1 end date:</b>
  <%= @com_dates_appt.admin1_end_date %>
</p>

<p>
  <b>Admin2 title:</b>
  <%= @com_dates_appt.admin2_title %>
</p>

<p>
  <b>Admin2 start date:</b>
  <%= @com_dates_appt.admin2_start_date %>
</p>

<p>
  <b>Admin2 end date:</b>
  <%= @com_dates_appt.admin2_end_date %>
</p>

<p>
  <b>Admin3 title:</b>
  <%= @com_dates_appt.admin3_title %>
</p>

<p>
  <b>Admin3 start date:</b>
  <%= @com_dates_appt.admin3_start_date %>
</p>

<p>
  <b>Admin3 end date:</b>
  <%= @com_dates_appt.admin3_end_date %>
</p>

<p>
  <b>Positiontrack:</b>
  <%= @com_dates_appt.positiontrack %>
</p>

<p>
  <b>Workingtitle:</b>
  <%= @com_dates_appt.workingtitle %>
</p>


<%= link_to 'Edit', edit_com_dates_appt_path(@com_dates_appt) %> |
<%= link_to 'Back', com_dates_appts_path %>
