<div class="row">
<div class="col-md-12">

<div class="box border red">
                <div class="box-title">
                    <h4><i class="fa fa-table"></i>Banner Queue</h4>
                </div>
                <div class="box-body">

   <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-condensed table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th class="hidden-xs">ZID</th>
      <th class="hidden-xs">NetID</th>
      <th class="hidden-xs">Lastname</th>
      <th class="hidden-xs">Firstname</th>
      <th class="hidden-xs">Birthdate</th>
      <th class="hidden-xs">Email</th>
      <th class="hidden-xs">Description</th>
      <% if params[:prospect] %>
        <th class="hidden-xs">Status</th>
      <% end %>
      <th class="hidden-xs">Action</th>
    </tr>
  </thead>

    <tbody>
    <% @banners.each do |banner| %>
      <tr>      
        <td><%= banner.zid %></td>
        <td><%= banner.fau_netid %></td>
        <td><%= banner.last_name %></td>
        <td><%= banner.first_name %></td>
        <td><%= banner.birth_date.strftime("%m/%d/%Y") %></td>
        <td><%= banner.email %></td>
        <td><%= banner.ecls_desc %></td>
        <% if params[:prospect] %>
          <td>
              <% if Affiliate.find_by_lastname(banner.last_name) %>
                 <b class="text-success">Potential Match</b>
              <% else %>
                  <b class="text-primary">No Match</b>
              <% end %>
          </td>
        <% end %>
        <td>
           <a href="/bannerdetail/<%= banner.pidm %>">View Banner Detail</a>
        </td>
      </tr>
    <% end %>
    </tbody>

    <tfoot>
      <tr>
       <th class="hidden-xs">ZID</th>
      <th class="hidden-xs">NetID</th>
      <th class="hidden-xs">Lastname</th>
      <th class="hidden-xs">Firstname</th>
      <th class="hidden-xs">Birthdate</th>
      <th class="hidden-xs">Email</th>
      <th class="hidden-xs">Description</th>
       <% if params[:prospect] %>
        <th class="hidden-xs">Status</th>
      <% end %>
      <th class="hidden-xs">Action</th>
      </tr>
    </tfoot>
  </table>

   </div>
  </div>
   <!-- /BOX -->
</div>
</div><!-- row -->


<!-- JQUERY -->
<%= render 'shared/javascript' %>

<script>
  jQuery(document).ready(function() {     
    App.setPage("dynamic_table");  //Set current page
    App.init(); //Initialise plugins and elements
  });
</script>
