<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<!--
<p>
  <b>Usertype:</b>
  <%= @user.usertype_id %>
</p>
-->
<p>
<b>Permission Level:</b><br>
<%#= form_for(@permissions) do |f| %>
  <%#= hidden_field_tag :affiliate_id, params[:id] %>
  <%= collection_select(:permissiongroup, :id, Permissiongroup.all, :id, :groupname, { :selected => @user.usertype_id }) %>
  
<%# end %>
</p>    

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
