<h1>Listing residencies</h1>

<table>
  <tr>
    <th>Specialty</th>
    <th>Location</th>
    <th>Trainingtitle</th>
    <th>Matchconnection</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @residencies.each do |residency| %>
  <tr>
    <td><%= residency.specialty %></td>
    <td><%= residency.location %></td>
    <td><%= residency.trainingtitle %></td>
    <td><%= residency.matchconnection %></td>
    <td><%= link_to 'Show', residency %></td>
    <td><%= link_to 'Edit', edit_residency_path(residency) %></td>
    <td><%= link_to 'Destroy', residency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Residency', new_residency_path %>
