<% if notice %>
  <div class="alert alert-block alert-success fade in">
    <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
    <%= notice %>
  </div>
<% end %>


<div class="row">
              <div class="col-md-12">
                  <%= link_to 'New Clinical Specialty', new_clinicalsection_path %>
                 <br><br>
                <!-- BOX -->
                <div class="box border primary">
                  <div class="box-title">
                    <h4><i class="fa fa-table"></i>Clinical Specialties</h4>
                    <div class="tools hidden-xs">
                      <a href="#box-config" data-toggle="modal" class="config">
                        <i class="fa fa-cog"></i>
                      </a>
                      <a href="javascript:;" class="reload">
                        <i class="fa fa-refresh"></i>
                      </a>
                      <a href="javascript:;" class="collapse">
                        <i class="fa fa-chevron-up"></i>
                      </a>
                      <a href="javascript:;" class="remove">
                        <i class="fa fa-times"></i>
                      </a>
                    </div>
                  </div>
                  <div class="box-body">
                    <table id="datatable3" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                            
                            <th>Clinical Specialty Name </th>
                            <th class="hidden-xs">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                         <% @clinicalsections.each do |clinicalsection| %>
                          <tr>
                            <td><%= clinicalsection.sectionname %></td>
                            <td><%= link_to 'Edit', edit_clinicalsection_path(clinicalsection) %> | <%= link_to 'Delete', clinicalsection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                      </tbody>
                      <tfoot>
                        <tr>
                            <th>Clinical Specialty Name </th>
                            <th class="hidden-xs">Actions</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <!-- /BOX -->

              </div>
            </div>
<br />

<br />


<%= render 'shared/javascript' %>

<script>
    jQuery(document).ready(function() {   
      App.setPage("dynamic_table");  //Set current page
      App.init(); //Initialise plugins and elements      
    });
  </script>

<br />
