<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @permission.permissiontype %>
</p>

<p>
  <b>Description:</b>
  <%= @permission.description %>
</p>

<p>
  <b>Bits:</b>
  <%= @permission.bits %>
</p>


<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
