<%= form_for(@permissiongroup) do |f| %>
  <% if @permissiongroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permissiongroup.errors.count, "error") %> prohibited this permissiongroup from being saved:</h2>

      <ul>
      <% @permissiongroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :groupname %><br />
    <%= f.text_field :groupname %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :bits %><br />
    <%= f.number_field :bits %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
