<%= form_for(@permissiongroup) do |f| %>
  <% if @permissiongroup.errors.any? %>
    <div class="alert alert-block alert-danger">
      <h2><%= pluralize(@permissiongroup.errors.count, "error") %> prohibited this permissiongroup from being saved:</h2>

      <ul>
      <% @permissiongroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :groupname %><br />
    <%= f.text_field :groupname ,:class => 'form-control' %>
  </div>

   <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_field :description ,:class => 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
