<div class="row">
              <div class="col-md-12">
                  <%= link_to 'Add a new permission group', new_permissiongroup_path %> <br><br>
                <!-- BOX -->
                <div class="box border red">
                  <div class="box-title">
                    <h4><i class="fa fa-table"></i>Permission Groups</h4>
                   
                  </div>
                  <div class="box-body">
                    <table id="datatable3" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Group Name</th>
                          <th>Description</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @permissiongroups.each do |permissiongroup| %>
                            <tr class="gradeX">
                              <td><%= permissiongroup.groupname %></td>
                              <td><%= permissiongroup.description %></td>
                              <td>
                              <%= link_to 'Edit', edit_permissiongroup_path(permissiongroup) %>
                              <%#= link_to 'Delete', permissiongroup, method: :delete, data: { confirm: 'Are you sure?' } %>
                              </td>
                            </tr>
                          <% end %>
                                  
                      </tbody>
                      <tfoot>
                         <tr>
                          <th>Group Name</th>
                          <th>Description</th>
                          <th>Actions</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <!-- /BOX -->

              </div>
            </div>
<br />

<br />


<%= render 'shared/javascript' %>

<script>
    jQuery(document).ready(function() {   
      App.setPage("dynamic_table");  //Set current page
      App.init(); //Initialise plugins and elements      
    });
  </script>