<p id="notice"><%= notice %></p>

<p>
  <b>Groupname:</b>
  <%= @permissiongroup.groupname %>
</p>

<p>
  <b>Description:</b>
  <%= @permissiongroup.description %>
</p>

<p>
  <b>Bits:</b>
  <%= @permissiongroup.bits %>
</p>


<%= link_to 'Edit', edit_permissiongroup_path(@permissiongroup) %> |
<%= link_to 'Back', permissiongroups_path %>
