<%= form_for(@certifiedspeciality) do |f| %>
  <% if @certifiedspeciality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certifiedspeciality.errors.count, "error") %> prohibited this certifiedspeciality from being saved:</h2>

      <ul>
      <% @certifiedspeciality.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :affiliate_id %><br />
    <%= f.number_field :affiliate_id %>
  </div>
  <div class="field">
    <%= f.label :speciality_id %><br />
    <%= f.number_field :speciality_id %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
