<p id="notice"><%= notice %></p>

<p>
  <b>Affiliate:</b>
  <%= @certifiedspeciality.affiliate_id %>
</p>

<p>
  <b>Speciality:</b>
  <%= @certifiedspeciality.speciality_id %>
</p>

<p>
  <b>Year:</b>
  <%= @certifiedspeciality.year %>
</p>


<%= link_to 'Edit', edit_certifiedspeciality_path(@certifiedspeciality) %> |
<%= link_to 'Back', certifiedspecialities_path %>
