<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hospital.name %>
</p>


<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>



  <%= render 'shared/javascript' %>

    <script>
        jQuery(document).ready(function() {     
            App.setPage("show_hospitals");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>