<h1>Listing affiliateresearchareas</h1>

<table>
  <tr>
    <th>Researcharea</th>
    <th>Affiliate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @affiliateresearchareas.each do |affiliateresearcharea| %>
  <tr>
    <td><%= affiliateresearcharea.researcharea_id %></td>
    <td><%= affiliateresearcharea.affiliate_id %></td>
    <td><%= link_to 'Show', affiliateresearcharea %></td>
    <td><%= link_to 'Edit', edit_affiliateresearcharea_path(affiliateresearcharea) %></td>
    <td><%= link_to 'Destroy', affiliateresearcharea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Affiliateresearcharea', new_affiliateresearcharea_path %>
