<%= form_for @affiliate, :html => {:class => 'form'} do |f| %>
  <% if @affiliate.errors.any? %>
    <div class="alert alert-block alert-danger">
      <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
      <h2><%= pluralize(@affiliate.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @affiliate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--
  <div class="form-group">
    <%= f.label :znumber %><br />
    <%= f.text_field :znumber %>
  </div>
-->
  
  <%= f.hidden_field :isfaculty , :value => @isfacultyflag %>

  
  <div class="form-group">
    <%= f.label :faculty_classification_id, "Classification" %><br />
   
     <%= f.collection_select(:faculty_classification_id, FacultyClassification.all, :id, :classification, {:include_blank => '-- Choose one --'} , :class=>'col-sm-6 form-control') %>
  </div>

  <div class="form-group">
    <%= f.label :prefix %><br />
    <% if @isfacultyflag == 1 %>
      <%= f.text_field :prefix ,:class => 'form-control'  , :id => 'disabledInput', :disabled=>'' %>
    <% else %>
      <%= f.text_field :prefix ,:class => 'form-control' %>
    <% end %>
    
  </div>
  <div class="form-group">
    <%= f.label :firstname%><br />
     <% if @isfacultyflag == 1 %>
        <%= f.text_field :firstname ,:class => 'form-control' , :id => 'disabledInput', :disabled=>'' %>
      <% else %>
        <%= f.text_field :firstname ,:class => 'form-control' %>   
      <% end %>
  </div>
  <div class="form-group">
    <%= f.label :middlename %><br />
    <% if @isfacultyflag == 1 %>
      <%= f.text_field :middlename  ,:class => 'form-control' , :id => 'disabledInput', :disabled=>''%>
    <% else %>
      <%= f.text_field :middlename  ,:class => 'form-control'%>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :lastname %><br />
    <% if @isfacultyflag == 1 %>
      <%= f.text_field :lastname  ,:class => 'form-control' , :id => 'disabledInput', :disabled=>''%>
    <% else %>
      <%= f.text_field :lastname  ,:class => 'form-control'%>
    <% end %>
  </div>
  <div class="form-group">
     <%= f.label :suffix %><br />
      <% if @isfacultyflag == 1 %>
        <%= f.text_field :suffix ,:class => 'form-control'  , :id => 'disabledInput', :disabled=>'' %>
       <% else %>
        <%= f.text_field :suffix ,:class => 'form-control' %>
      <% end %>
  </div>
  <div class="form-group">
    <%= f.label :license, "Florida Medical License" %><br />
     <% if @isfacultyflag == 1 %>
        <%= f.text_field :license ,:class => 'form-control' , :id => 'disabledInput', :disabled=>''%>
      <% else %>
        <%= f.text_field :license ,:class => 'form-control' %>
      <% end %>
  </div>
  <div class="form-group">
    <%= f.label :homestreet, "Home street address" %><br />

    <% if @isfacultyflag == 1 %>
      <%= f.text_field :homestreet ,:class => 'form-control' , :id => 'disabledInput', :disabled=>''%>
     <% else %>
       <%= f.text_field :homestreet ,:class => 'form-control' %>
     <% end %>
  </div>
  <div class="form-group">
    <%= f.label :homecity, "Home city address"  %><br />
    
    <% if @isfacultyflag == 1 %>
        <%= f.text_field :homecity ,:class => 'form-control'  , :id => 'disabledInput', :disabled=>''%>
     <% else %>
        <%= f.text_field :homecity ,:class => 'form-control' %>
     <% end %>
  </div>
  <div class="form-group">
    <%= f.label :homestate, "Home state address"  %><br />
     <% if @isfacultyflag == 1 %> 
        <%= f.text_field :homestate ,:class => 'form-control' , :id => 'disabledInput', :disabled=>'' %>
     <% else %>
        <%= f.text_field :homestate ,:class => 'form-control' %>
     <% end %>
  </div>
  <div class="form-group">
    <%= f.label :homezip, "Home zipcode" %><br />
    <% if @isfacultyflag == 1 %>
         <%= f.number_field :homezip ,:class => 'form-control' , :id => 'disabledInput', :disabled=>''%>
     <% else %>
        <%= f.number_field :homezip ,:class => 'form-control'%>
     <% end %>
  </div>


  <div class="form-group">
    <%= f.label :officestreet, "Work street address" %><br />
    <%= f.text_field :officestreet ,:class => 'form-control' %>
   
  </div>
  <div class="form-group">
    <%= f.label :officecity, "Work city" %><br />
    <%= f.text_field :officecity ,:class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :officestate, "Work state" %><br />
    <%= f.text_field :officestate ,:class => 'form-control'  %>    
  </div>
  <div class="form-group">
    <%= f.label :officezip, "Work zipcode" %><br />
    <%= f.number_field :officezip ,:class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :officephone, "Work phone" %><br />
    <%= f.number_field :officephone ,:class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :homephone, "Home phone" %><br />
    <% if @isfacultyflag == 1 %>
        <%= f.text_field :homephone ,:class => 'form-control' , :id => 'disabledInput', :disabled=>'' %>
     <% else %>
        <%= f.text_field :homephone ,:class => 'form-control' %>
     <% end %>
  </div>
  <div class="form-group">
    <%= f.label :cellphone, "Cell phone" %><br />
    <%= f.text_field :cellphone ,:class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :emergencyphone, "Emergency phone" %><br />
    <%= f.text_field :emergencyphone ,:class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :faxnumber, "Fax" %><br />
    <%= f.text_field :faxnumber ,:class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :otherphonenumber, "Other phone" %><br />
    <%= f.text_field :otherphonenumber ,:class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :emailfau, "FAU Email" %><br />
    <% if @isfacultyflag == 1 %>
         <%= f.text_field :emailfau ,:class => 'form-control' , :id => 'disabledInput', :disabled=>'' %>
     <% else %>
        <%= f.text_field :emailfau ,:class => 'form-control' %>
     <% end %>
  </div>
  <div class="form-group">
    <%= f.label :emailpersonal, "Personal Email" %><br />
    <%= f.text_field :emailpersonal ,:class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :emailoffice, "Office Email" %><br />
    <%= f.text_field :emailoffice  ,:class => 'form-control' %>
  </div>
  
   <!--
  <div class="form-group">
    <%= f.label :isfaculty %><br />
     <% if params[:prospect] %>
      <%= f.check_box :isfaculty %>
     <% else %>
       <%= f.check_box :isfaculty , :id => 'disabledInput', :disabled=>'' %>
     <% end %>
  </div>
  -->
  <div class="form-group">
    <%= f.label :physiciansgroup, "Physican's Group" %><br />
    <%= f.text_field :physiciansgroup ,:class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :currentpractice, "Current Practice" %><br />
    <%= f.select :currentpractice, options_for_select([["Select One", ""], "full time", "part time", "retired"]), {}, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :teachingavailability, "Teaching Availability"  %><br />
    <%= f.select :teachingavailability, options_for_select([["Select One", ""], "occassional", "weekly", "monthly", "seasonal", "on demand"]), {}, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>
