<%= form_for(@affiliate) do |f| %>
  <% if @affiliate.errors.any? %>
    <div class="alert alert-block alert-danger">
      <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
      <h2><%= pluralize(@affiliate.errors.count, "error") %> prohibited this affiliate from being saved:</h2>

      <ul>
      <% @affiliate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--
  <div class="field">
    <%= f.label :znumber %><br />
    <%= f.text_field :znumber %>
  </div>
-->
  <div class="field">
    <%= f.label :prefix %><br />
    <%= f.text_field :prefix %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :middlename %><br />
    <%= f.text_field :middlename %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :suffix %><br />
    <%= f.text_field :suffix %>
  </div>
  <div class="field">
    <%= f.label :license %><br />
    <%= f.text_field :license %>
  </div>
  <div class="field">
    <%= f.label :homestreet %><br />
    <%= f.text_field :homestreet %>
  </div>
  <div class="field">
    <%= f.label :homecity %><br />
    <%= f.text_field :homecity %>
  </div>
  <div class="field">
    <%= f.label :homestate %><br />
    <%= f.text_field :homestate %>
  </div>
  <div class="field">
    <%= f.label :homezip %><br />
    <%= f.number_field :homezip %>
  </div>
  <div class="field">
    <%= f.label :officestreet %><br />
    <%= f.text_field :officestreet %>
  </div>
  <div class="field">
    <%= f.label :officecity %><br />
    <%= f.text_field :officecity %>
  </div>
  <div class="field">
    <%= f.label :officestate %><br />
    <%= f.text_field :officestate %>
  </div>
  <div class="field">
    <%= f.label :officezip %><br />
    <%= f.number_field :officezip %>
  </div>
  <div class="field">
    <%= f.label :homephone %><br />
    <%= f.text_field :homephone %>
  </div>
  <div class="field">
    <%= f.label :cellphone %><br />
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label :emergencyphone %><br />
    <%= f.text_field :emergencyphone %>
  </div>
  <div class="field">
    <%= f.label :faxnumber %><br />
    <%= f.text_field :faxnumber %>
  </div>
  <div class="field">
    <%= f.label :otherphonenumber %><br />
    <%= f.text_field :otherphonenumber %>
  </div>
  <div class="field">
    <%= f.label :emailfau %><br />
    <%= f.text_field :emailfau %>
  </div>
  <div class="field">
    <%= f.label :emailpersonal %><br />
    <%= f.text_field :emailpersonal %>
  </div>
  <div class="field">
    <%= f.label :emailoffice %><br />
    <%= f.text_field :emailoffice %>
  </div>
  <div class="field">
    <%= f.label :emailother %><br />
    <%= f.text_field :emailother %>
  </div>
  <div class="field">
    <%= f.label :isfaculty %><br />
    <%= f.check_box :isfaculty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
