<div class="row">
<div class="col-md-12">
            

            <!--
            <%= link_to 'Add a New Faculty Member', new_affiliate_path %> <br><br>
            -->

            <div class="box border red">
                <div class="box-title">
                    <h4><i class="fa fa-table"></i><%= @title %></h4>
                </div>
                <div class="box-body">
                    <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-condensed table-striped table-bordered table-hover">
                     <thead>
                         <% if params[:prospect] %>
                             <%= render 'prospectheader' %>
                         <% else %>
                             <%= render 'facultyheader' %>
                         <% end %>
                    </thead>
                    

                    <tbody>
                      <% @affiliates.each do |affiliate| %>
                         <!-- display for affiliate list -->
                         <% if params[:prospect] %>
                            
                            <!-- set potential match flag-->
                            <% @potential_match = Banner.find_by_lastname(affiliate.lastname) %>
                            <% @cap_dates       = CapDate.where(:affiliate_id => affiliate.id) %>
                            <% @has_specialty  = Clinicalspecialty.where(:affiliate_id => affiliate.id) %>
                            <%# @has_specialty  = Clinicalsection.first %>

                            <tr class="gradeA">
                                <td><%= affiliate.firstname %></td>
                                <td class="hidden-xs"><%#= affiliate.id %> <%= affiliate.lastname %></td>
                                <td class="hidden-xs"><%= affiliate.suffix %></td>
                                <td class="hidden-xs"><%= affiliate.emailfau %></td>
                                <td class="hidden-xs">
                                    <%#=[:Physiology, :Immunology].sample %>
                                    <%#= affiliate.id %>                                
                                    <%#= Clinicalsection.find(Clinicalsection.where(:affiliate_id => affiliate.id).first.speciality_id).sectionname %>
                                  
                                   <% if !@has_specialty.blank? || @has_specialty.nil? %>
                                        <%= affiliate.getSpecialty(affiliate.id) %>                                                                      
                                    <% end %>
                                  
                                </td>
                                <td class="hidden-xs">
                                    <% if @potential_match %>
                                           <b class="text-success">Potential Match</b>
                                    <% else %>
                                            <b class="text-primary">No Match</b>
                                    <% end %>
                                </td>
                                <td class="hidden-xs"><% @cap_dates.each do |cd| %><%= cd.certificatedate %> <% end %></td>
                                <!-- <td class="hidden-xs">A1 Title</td> -->
                                <td>
                                    <a href="/affiliates/<%= affiliate.id %>/<%= affiliate.pidm %>">View</a>|
                                    <%= link_to 'Edit', edit_affiliate_path(affiliate) %> 

                                    <% if @potential_match && !affiliate.isfaculty %>
                                    | <a href="/bannermatches/<%= affiliate.lastname %>/<%= affiliate.id %>">View Matches</a>
                                    <% end %>

                                <!-- only affiliate candidates can be deleted -->
                                <% if !affiliate.isfaculty %>
                                | <%= link_to 'Delete', affiliate, method: :delete, data: { confirm: 'Are you sure?' } %>
                                <% end %>

                                </td>
                            </tr>    
                         <% else %>
                            <!-- display for faculty list -->
                            <% @banner = Banner.find_by_id(affiliate.pidm) %>
                            <% @has_specialty  = Clinicalspecialty.where(:affiliate_id => affiliate.id) %>
                            <%# @has_specialty  = Clinicalsection.first %>

                              <tr class="gradeA">
                                  <td class="hidden-xs"><% @banner.each do |b| %><%= b.zid %> <% end %></td>
                                  <td><%#= affiliate.id %> <%= affiliate.firstname %></td>
                                  <td><%= affiliate.lastname %></td>
                                  <td class="hidden-xs">
                                    <% @banner.each do |b| %>
                                      <% if defined?(b.perbfac_academic_title.humanize) %>
                                        <%= b.perbfac_academic_title.humanize %> 
                                      <% end %> 
                                    <% end %> 
                                  </td>
                                  <td class="hidden-xs">
                                    <% if !@has_specialty.blank? || @has_specialty.nil? %>
                                        <%= affiliate.getSpecialty(affiliate.id) %>                                                                            
                                    <% end %>
                                  </td>
                                  <td class="hidden-xs"><% @banner.each do |b| %><%= b.fte %> <% end %></td>
                                  <td>
                                    <a href="/affiliates/<%= affiliate.id %>/<%= affiliate.pidm %>">View</a>
                                      |
                                      <%= link_to 'Edit', edit_affiliate_path(affiliate) %>      
                                                         
                                  </td>
                              </tr>
                             
                         <% end %>
                        
                    <% end %>
                    </tbody>

                    <tfoot>
                        <% if params[:prospect] %>
                             <%= render 'prospectheader' %>
                         <% else %>
                             <%= render 'facultyheader' %>
                         <% end %>
                    </tfoot>
                   

                    </table>
                    <!-- Download: <%= link_to "Excel", affiliates_path(format: "xls") %>
                    <br /> -->

                </div>
            </div>
             <!-- /BOX -->
</div>
</div><!-- row -->


<!-- JQUERY -->
<%= render 'shared/javascript' %>

<script>
  jQuery(document).ready(function() {     
    App.setPage("dynamic_table");  //Set current page
    App.init(); //Initialise plugins and elements
  });
</script>