<h1>Listing affiliates</h1>

<table>
  <tr>
    <th>Znumber</th>
    <th>Prefix</th>
    <th>Firstname</th>
    <th>Middlename</th>
    <th>Lastname</th>
    <th>Suffix</th>
    <th>License</th>
    <th>Homestreet</th>
    <th>Homecity</th>
    <th>Homestate</th>
    <th>Homezip</th>
    <th>Officestreet</th>
    <th>Officecity</th>
    <th>Officestate</th>
    <th>Officezip</th>
    <th>Homephone</th>
    <th>Cellphone</th>
    <th>Emergencyphone</th>
    <th>Faxnumber</th>
    <th>Otherphonenumber</th>
    <th>Emailfau</th>
    <th>Emailpersonal</th>
    <th>Emailoffice</th>
    <th>Emailother</th>
    <th>Isfaculty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @affiliates.each do |affiliate| %>
  <tr>
    <td><%= affiliate.znumber %></td>
    <td><%= affiliate.prefix %></td>
    <td><%= affiliate.firstname %></td>
    <td><%= affiliate.middlename %></td>
    <td><%= affiliate.lastname %></td>
    <td><%= affiliate.suffix %></td>
    <td><%= affiliate.license %></td>
    <td><%= affiliate.homestreet %></td>
    <td><%= affiliate.homecity %></td>
    <td><%= affiliate.homestate %></td>
    <td><%= affiliate.homezip %></td>
    <td><%= affiliate.officestreet %></td>
    <td><%= affiliate.officecity %></td>
    <td><%= affiliate.officestate %></td>
    <td><%= affiliate.officezip %></td>
    <td><%= affiliate.homephone %></td>
    <td><%= affiliate.cellphone %></td>
    <td><%= affiliate.emergencyphone %></td>
    <td><%= affiliate.faxnumber %></td>
    <td><%= affiliate.otherphonenumber %></td>
    <td><%= affiliate.emailfau %></td>
    <td><%= affiliate.emailpersonal %></td>
    <td><%= affiliate.emailoffice %></td>
    <td><%= affiliate.emailother %></td>
    <td><%= affiliate.isfaculty %></td>
    <td><%= link_to 'Show', affiliate %></td>
    <td><%= link_to 'Edit', edit_affiliate_path(affiliate) %></td>
    <td><%= link_to 'Destroy', affiliate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Affiliate', new_affiliate_path %>
