<div class="row">
<div class="col-md-12">
            
        

            <div class="box border orange">
                <div class="box-title">
                    <h4><i class="fa fa-table"></i>Advanced Search</h4>
                </div>
                <div class="box-body">
                  
                   <div class="box-container">
                    <%= form_for :clinicaldivision, :url => {:action => 'doSearch'}, :html => {:class => 'form-horizontal', :id => 'searchform' } , :method => "post" do |f| %>   
                        
                         <div class="row">
                            <div class="col-sm-4">
                                 <%= f.label :firstname %><br />
                                <%= f.text_field :firstname ,:class => 'form-control'  %>
                            </div>
                            

                             <div class="col-sm-4">
                                <%= f.label :lastname %><br />
                                <%= f.text_field :lastname  ,:class => 'form-control'%>
                              </div>
                         </div>
                         <br>
                         <div class="row">
                            <div class="col-sm-4" id="clinicaldivision">
                                <b>Division:</b><br>
                                <%= collection_select(:clinicaldivision, :division_id, Clinicaldivision.all, :id, :divisionname, {:include_blank => '-- Clinical Division --'} ,:class=>'form-control') %>
                            </div>

                            <div class="col-sm-4" id="clinicalsection">
                                
                            </div>
                         </div>

                        
                        
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                             <%= f.submit "Search" %>
                            </div>
                        </div>

                    <% end %>

                </div>
            </div>
        </div>
             <!-- /BOX -->
</div>
</div><!-- row -->


<!-- JQUERY -->
<%= render 'shared/javascript' %>

<script>
  jQuery(document).ready(function() {     
    App.setPage("searchpage");  //Set current page
    App.init(); //Initialise plugins and elements


    // when the #country field changes
    $("#clinicaldivision_division_id").change(function() {
    
    //alert('SHABBA!!!');

    // make a POST call and replace the content
    var division = $('#clinicaldivision_division_id').val();
    
    //alert(division);


    if(division == "") division="0";
      jQuery.get('/search/update_section_select/' + division, function(data){
            $("#clinicalsection").html(data);
    })

    return false;
  });


  });
</script>