<p id="notice"><%= notice %></p>

<p>
  <b>Znumber:</b>
  <%= @affiliate.znumber %>
</p>

<p>
  <b>Prefix:</b>
  <%= @affiliate.prefix %>
</p>

<p>
  <b>Firstname:</b>
  <%= @affiliate.firstname %>
</p>

<p>
  <b>Middlename:</b>
  <%= @affiliate.middlename %>
</p>

<p>
  <b>Lastname:</b>
  <%= @affiliate.lastname %>
</p>

<p>
  <b>Suffix:</b>
  <%= @affiliate.suffix %>
</p>

<p>
  <b>License:</b>
  <%= @affiliate.license %>
</p>

<p>
  <b>Homestreet:</b>
  <%= @affiliate.homestreet %>
</p>

<p>
  <b>Homecity:</b>
  <%= @affiliate.homecity %>
</p>

<p>
  <b>Homestate:</b>
  <%= @affiliate.homestate %>
</p>

<p>
  <b>Homezip:</b>
  <%= @affiliate.homezip %>
</p>

<p>
  <b>Officestreet:</b>
  <%= @affiliate.officestreet %>
</p>

<p>
  <b>Officecity:</b>
  <%= @affiliate.officecity %>
</p>

<p>
  <b>Officestate:</b>
  <%= @affiliate.officestate %>
</p>

<p>
  <b>Officezip:</b>
  <%= @affiliate.officezip %>
</p>

<p>
  <b>Homephone:</b>
  <%= @affiliate.homephone %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @affiliate.cellphone %>
</p>

<p>
  <b>Emergencyphone:</b>
  <%= @affiliate.emergencyphone %>
</p>

<p>
  <b>Faxnumber:</b>
  <%= @affiliate.faxnumber %>
</p>

<p>
  <b>Otherphonenumber:</b>
  <%= @affiliate.otherphonenumber %>
</p>

<p>
  <b>Emailfau:</b>
  <%= @affiliate.emailfau %>
</p>

<p>
  <b>Emailpersonal:</b>
  <%= @affiliate.emailpersonal %>
</p>

<p>
  <b>Emailoffice:</b>
  <%= @affiliate.emailoffice %>
</p>

<p>
  <b>Emailother:</b>
  <%= @affiliate.emailother %>
</p>

<p>
  <b>Isfaculty:</b>
  <%= @affiliate.isfaculty %>
</p>


<%= link_to 'Edit', edit_affiliate_path(@affiliate) %> |
<%= link_to 'Back', affiliates_path %>


<hr>
<h3>Add Languages Spoken</h3>

<%= form_for(@languagespoken) do |f| %>
  <%= hidden_field_tag :affiliate_id, params[:id] %>
  <%#= hidden_field_tag "languages[language_ids][]", nil %>
  <%#= collection_select(:language, :id, Language.all, :language_id, :language) %>
  
  <% @languagelist.each do |lang| %>
    <%= check_box_tag 'languages[language_ids][]', lang.id, Affiliatelanguage.where(:affiliate_id => params[:id]).pluck(:id).include?(lang.id) %> 
    <%#= f.check_box :language_id %><%= lang.language %><br/>
  <% end %>


   <div class="actions">
    <%= f.submit 'Update Languages Spoken' %>
  </div>
<% end %>

<hr>
<h3>Languages Spoken List</h3>

<% @showlanguagespoken.each do |l| %>
  <%= l.language.language %> <%= link_to 'Remove', l, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>

<hr>
<h3>Add a Hospital Privilege</h3>


<%= form_for(@hospitalprivilege) do |f| %>
  <%= hidden_field_tag :affiliate_id, params[:id] %>
  <%= collection_select(:hospital, :id, Hospital.all, :id, :name) %>
   <div class="actions">
    <%= f.submit 'Add Hospital Privilege'%>
  </div>
<% end %>


<hr>

<h3>Hospital Privileges</h3>

<% @showprivileges.each do |p| %>
  <%= p.hospital.name %> <%= link_to 'Remove', p, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>