<% if notice %>
  <p class="alert alert-block alert-success">
    <%= notice %>
  </p>
<% end %>


<div class="col-md-12">
                <!-- BOX -->
                <div class="box border">
                  <div class="box-title">
                    <h4><i class="fa fa-columns"></i><span class="hidden-inline-mobile"><%= @affiliate.firstname %> <%= @affiliate.middlename %>  <%= @affiliate.lastname %>, <%= @affiliate.suffix %></span></h4>
                  </div>
                  <div class="box-body">
                    <div class="tabbable header-tabs">
                      <ul class="nav nav-tabs">
                       <li class=""><a data-toggle="tab" href="#research"><i class="fa fa-book"></i> <span class="hidden-inline-mobile">Research</span></a></li> 
                       <li class=""><a data-toggle="tab" href="#assignments"><i class="fa fa-briefcase"></i> <span class="hidden-inline-mobile">Assignments/Evaluations</span></a></li>
                       <li class=""><a data-toggle="tab" href="#appointments"><i class="fa fa-calendar"></i> <span class="hidden-inline-mobile">Dates/Appts.</span></a></li>
                       <li class=""><a data-toggle="tab" href="#training"><i class="fa fa-flask"></i> <span class="hidden-inline-mobile">Training</span></a></li>
                       <li class="active"><a data-toggle="tab" href="#personal"><i class="fa fa-user"></i> <span class="hidden-inline-mobile">Personal</span></a></li>
                      </ul>
                      <div class="tab-content">
                       <div id="personal" class="tab-pane fade active in">
                        <!--
                        <p>Content #1</p>
                        <p> There were flying cantaloupes, rainbows and songs of happiness near by, I mean I was a little frightened by the flying fruit but I'll take this any day over prison inmates. </p>
                        -->
                        
                        <div class="row"><!-- row1 -->
                             <div class="col-sm-12">
                                <div class="box border red col-sm-12">
                                    <div class="box-title">                              
                                        <h4><i class="fa fa-user"></i>Personal</h4>

                                        <div class="tools">
                                          <a href="/affiliates/<%= params[:id] %>/edit">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                       </div>

                                    </div>
                              
                                    <div class="box-body">
                                     

                                      <div class="box-container">
                                           <div class="col-sm-6"> 
                                            <p>
                                              <b>Znumber:</b><br>
                                              <%= @affiliate.znumber %>
                                            </p>

                                            <p>
                                              <b>Name:</b><br>
                                              <%= @affiliate.prefix %>  <%= @affiliate.firstname %> <%= @affiliate.middlename %>  <%= @affiliate.lastname %>, <%= @affiliate.suffix %>
                                            </p>

                                            <p>
                                              <b>Address:</b><br>
                                              <%= @affiliate.homestreet %><br>
                                               <%= @affiliate.homecity %>, <%= @affiliate.homestate %> <%= @affiliate.homezip %>
                                            </p>
                                                                                   
                                            <p>
                                              <b>License:</b><br>
                                              <%= @affiliate.license %>
                                            </p>
                                          </div>
                                          <div class="col-sm-6"> 
                                            <p>
                                              <b>Faculty:</b><br>
                                              <%= @affiliate.facultymember %>
                                            </p>

                                            <b>Languages Spoken:</b><br>
                                            <%= form_for(@languagespoken) do |f| %>
                                                <%= hidden_field_tag :affiliate_id, params[:id] %>
                                                                                                
                                                <% @languagelist.each do |lang| %>
                                                  <%= check_box_tag 'languages[language_ids][]', lang.id, Affiliatelanguage.where(:affiliate_id => params[:id]).pluck(:language_id).include?(lang.id) %> 
                                                  <%#= f.check_box :language_id %><%= lang.language %><br/>
                                                <% end %>


                                                 <div class="actions">
                                                  <%= f.submit 'Update Languages Spoken' %>
                                                </div>
                                              <% end %>

                                          </div>
                                            <%= link_to 'Edit', edit_affiliate_path(@affiliate) %> |
                                            <%= link_to 'Back', affiliates_path %>

                                          </div>
                                    </div>
                                  </div>
                                </div><!-- end of row1 -->
                            </div>

                            <div class="row"><!-- row2 -->
                             <div class="col-sm-12">                             
                                <div class="box border orange col-sm-12"><!-- work -->
                                  <div class="box-title">                              
                                      <h4><i class="fa fa-medkit"></i>Work information</h4>

                                       <div class="tools">
                                          <a href="/affiliates/<%= params[:id] %>/edit">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                       </div>
                                  </div>                            
                                  <div class="box-body">
                                    <div class="box-container">                                         
                                         <div class="col-sm-6">  
                                           <p>
                                            <b>Address:</b><br>
                                            <% if !@affiliate.officestreet.blank? %>
                                              <%= @affiliate.officestreet %><br>
                                              <%= @affiliate.officecity %> <%= @affiliate.officestate %> <%= @affiliate.officezip %>
                                            <% else %>
                                               N/A
                                            <% end %>
                                          </p>
                                        </div>
                                          <div class="col-sm-6"> 
                                          <p>
                                            <b>Hospital Privileges</b><br>
                                              
                                                <ul>
                                                <% if @showprivileges.count > 0%>
                                                  <% @showprivileges.each do |p| %>
                                                   <li><%= p.hospital.name %> <%= link_to 'Remove', p, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                                                  <% end %>
                                                <% else %>
                                                  <li>None selected</li>
                                                <% end %>
                                                </ul>
                                              
                                          </p>           
                                          
                                            <p>
                                            <b>Add a Hospital Privilege</b><br>
                                            <%= form_for @hospitalprivilege, :html => {:class => 'form'} do |f| %>
                                              <%= hidden_field_tag :affiliate_id, params[:id] %>
                                              <%= collection_select(:hospital, :id, Hospital.all, :id, :name, {}, :class=>'form-control') %>
                                               <div class="actions">
                                                <br><%= f.submit 'Add Privileges'%>
                                              </div>
                                            <% end %>
                                            </p>    
                                          </div>  
                                     </div>
                                  </div>                              
                                </div><!-- work -->
                              </div>
                              </div><!-- end of row2 -->


                          </div><!-- end of personal tab-->




                       <div id="training" class="tab-pane fade">
                              <div class="row"><!-- row1 -->
                                <div class="col-sm-6">                             
                                  <!-- BOX -->
                                  <div class="box border inverse">
                                    <div class="box-title">
                                      <h4><i class="fa fa-briefcase"></i>Training</h4>
                                      
                                       <div class="tools">
                                          <a href="/editTraining/<%= params[:id] %>">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                       </div>

                                    </div>
                                    <div class="box-body">
                                            <p>
                                              <b>Florida Medical License:</b><br>
                                              <%= @affiliate.license %>
                                            </p>

                                            <p>
                                              <b>Curriculum-Vitae:</b><br>
                                              ????
                                            </p>


                                            
                                            <p>
                                              <b>Research Area:</b><br>
                                              <% if !@affiliateresearcharea.blank? %>
                                                <% @affiliateresearcharea.each do |r| %>
                                                  <%= r.getResearchAreaName(r.researcharea_id) %>
                                                <% end %>
                                              <% else %>
                                                N/A
                                              <% end %>
                                            </p>

                                            <p>

                                              <b>Research desciption (add'l training):</b><br>
                                              <% if !@affiliateresearcharea.blank? %>
                                               <% @affiliateresearcharea.each do |r| %>
                                                <%= r.researchdescription %>
                                               <% end %>
                                              <% else %>
                                                N/A
                                              <% end %>
                                            </p>
                                            
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>

                                <div class="col-sm-6">                             
                                  <!-- BOX -->
                                  <div class="box border red">
                                    <div class="box-title">
                                      <h4><i class="fa fa-check-square"></i>Certified Specialties</h4>
                                      
                                        <div class="tools">
                                          <a href="/certifiedspecialities/new?affiliate_id=<%= params[:id] %>">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="box-body">
                                           <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Specialty</th>
                                            <th>Year received</th>
                                            <th>Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <% if !@certifiedspecialties.blank? %>
                                              <% @certifiedspecialties.each do |cs| %>
                                                <tr>
                                                    <td><%= cs.getSpecialtyName(cs.speciality_id) %></td>
                                                    <td><%= cs.year %></td>
                                                    <td>  
                                                      <%= link_to 'Update', edit_certifiedspeciality_path(cs , :affiliate_id => params[:id]) %>
                                                      | <%= link_to 'Remove', cs, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
                                                </tr>
                                              <% end %>
                                             
                                            <% else %>
                                              <tr>
                                                <td colspan="2">
                                                    <div class="alert alert-block alert-info fade in">
                                                    <a aria-hidden="true" href="#" data-dismiss="alert" class="close">×</a>
                                                      <p></p><h4><i class="fa fa-check-square-o"></i> No Specialties on Record!</h4> Please add specialties by clicking on the pencil icon in the upper right corner.<p></p><br>
                                                  </div>
                                                </td>
                                              </tr>
                                            <% end %>

                                              
                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>

                              </div><!-- end of row1-->

                              <div class="row"><!-- row2 -->
                                <div class="col-sm-12">                             
                                  <!-- BOX -->
                                  <div class="box border primary">
                                    <div class="box-title">
                                      <h4><i class="fa fa-book"></i>Degrees</h4>
                                      
                                      <div class="tools">
                                          <a href="/degrees/new?affiliate_id=<%= params[:id] %>">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="box-body">
                                      <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Degree</th>
                                            <th>Degree Year</th>
                                            <th>Institution</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Country</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>x</td>
                                            <td>y</td>
                                          </tr>
                                          <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                            <td>x</td>
                                            <td>y</td>
                                          </tr>
                                          <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                            <td>x</td>
                                            <td>y</td>
                                          </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                              </div>
                              </div><!-- end of row2-->

                               <div class="row"><!-- row3 -->
                                <div class="col-sm-12">                             
                                  <!-- BOX -->
                                  <div class="box border pink">
                                    <div class="box-title">
                                      <h4><i class="fa fa-stethoscope"></i>Residency</h4>
                                     
                                    </div>
                                    <div class="box-body">
                                      <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Specialty</th>
                                            <th>Location</th>
                                            <th>Training Last Title</th>
                                            <th>Match Connection</th>
                                            
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            
                                          </tr>
                                          <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                            
                                          </tr>
                                          <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                            
                                          </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                              </div>
                              </div><!-- end of row3 -->

                              <div class="row"><!-- row4 -->
                                <div class="col-sm-12">                             
                                  <!-- BOX -->
                                  <div class="box border green">
                                    <div class="box-title">
                                      <h4><i class="fa fa-user-md"></i>Fellowship</h4>
                                     
                                    </div>
                                    <div class="box-body">
                                      <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Specialty</th>
                                            <th>Training</th>
                                            <th>Location</th>        
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                          </tr>
                                          <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                          </tr>
                                          <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>                                           
                                          </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                              </div>
                              </div><!-- end of row4 -->
                       </div>
                       
                      

                      <div id="appointments" class="tab-pane fade">
                           <div class="row"><!-- row1 -->
                                <div class="col-sm-6">                             
                                  <!-- BOX -->
                                  <div class="box border inverse">
                                    <div class="box-title">
                                      <h4><i class="fa fa-briefcase"></i>Appointment Dates</h4>
                                     
                                    </div>
                                    <div class="box-body">
                                            <p>
                                              <b>Start Date at FAU:</b><br>
                                              ???
                                            </p>

                                            <p>
                                              <b>Date of Last Increase:</b><br>
                                              ????
                                            </p>

                                            <p>
                                              <b>Appointment Start Date:</b><br>
                                              ????
                                            </p>

                                            <p>
                                              <b>Appointment End Date:</b><br>
                                              ????
                                            </p>
                                             <p>
                                                <b>Classification Date:</b><br>
                                                ????
                                             </p>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>

                                <div class="col-sm-6">                             
                                  <!-- BOX -->
                                  <div class="box border red">
                                    <div class="box-title">
                                      <h4><i class="fa fa-plus-square"></i>Contract Dates</h4>
                                     
                                    </div>
                                    <div class="box-body">
                                          <p>
                                              <b>Secondary Assignment Start Date:</b><br>
                                              ???
                                            </p>

                                            <p>
                                              <b>Contract Start Date:</b><br>
                                              ????
                                            </p>

                                            <p>
                                              <b>Contract End Date:</b><br>
                                              ????
                                            </p>

                                            <p>
                                              <b>FAU Grad College Membership Start Date:</b><br>
                                              ????
                                            </p>
                                            <p>
                                              <b>FAU Grad College Membership End Date:</b><br>
                                              ????
                                            </p>                                           
                                          
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>

                              </div><!-- end of row1-->

                              
                               <div class="row"><!-- row4 -->
                                <div class="col-sm-12">                             
                                  <!-- BOX -->
                                  <div class="box border primary">
                                    <div class="box-title">
                                      <h4><i class="fa fa-plus-square"></i>College of Medicine Dates</h4>
                                     
                                    </div>
                                    <div class="box-body">
                                         <p>
                                              <b>Start Date at College of Medicine:</b><br>
                                              ???
                                            </p>

                                            <p>
                                              <b>Tenure Tracking Begin Date:</b><br>
                                              ????
                                            </p>

                                            <p>
                                              <b>Tenure on Date:</b><br>
                                              ????
                                            </p>

                                            <p>
                                              <b>Tenure Review Date:</b><br>
                                              ????
                                            </p>
                                            <p>
                                              <b>Tenure Code:</b><br>
                                              ????
                                            </p>
                                             <p>
                                              <b>Decision (tenure):</b><br>
                                              ????
                                            </p>
                                            <p>
                                              <b>Decision (tenure) date:</b><br>
                                              ????
                                            </p>
                                            <p>
                                              <b>Decision (tenure) deferred to date:</b><br>
                                              ????
                                            </p>
                                           
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>
                              </div><!-- end of row4 -->


                              <div class="row"><!-- row1 -->
                                <div class="col-sm-6">                             
                                  <!-- BOX -->
                                  <div class="box border orange">
                                    <div class="box-title">
                                      <h4><i class="fa fa-briefcase"></i>CAP Dates</h4>
                                     
                                    </div>
                                    <div class="box-body">
                                            <p>
                                              <b>CAP Certificate Date:</b><br>
                                              ???
                                            </p>

                                            <p>
                                              <b>CAP Status Date:</b><br>
                                              ????
                                            </p>

                                            <p>
                                              <b>CAP Meeting Date:</b><br>
                                              ????
                                            </p>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>

                                <div class="col-sm-6">                             
                                  <!-- BOX -->
                                  <div class="box border pink">
                                    <div class="box-title">
                                      <h4><i class="fa fa-plus-square"></i>Faculty Dates</h4>
                                     
                                    </div>
                                    <div class="box-body">
                                          <p>
                                              <b>University Faculty Overload Start Date:</b><br>
                                              ???
                                            </p>

                                            <p>
                                              <b>University Faculty Overload End Date:</b><br>
                                              ????
                                            </p>

                                            <p>
                                              <b>Third Year Review Date:</b><br>
                                              ????
                                            </p>

                                            
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>

                              </div><!-- end of row1-->
                         
                       </div>
                       <div id="assignments" class="tab-pane fade">
                        <!--
                        <div class="alert alert-info"><strong>Assignments!</strong> whatever.</div>
                        <p>Assignments</p>
                        <p> Duis autem vel eum iriure dolor. </p>
                        -->
                        <div class="row"><!-- row -->
                             <div class="col-sm-12">                             
                                <!-- BOX -->
                                  <div class="box border green">
                                    <div class="box-title">
                                      <h4><i class="fa fa-user-md"></i>Assignments</h4>
                                     
                                    </div>
                                    <div class="box-body">
                                      <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Vetter</th>
                                            <th>Clinical Divisions</th>
                                            <th>Clinical Specialities</th>   
                                            <th>Basic Science Discipline</th>     
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>John Doe</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>Otto</td>
                                          </tr>
                                          <tr>
                                            <td>Jane Doe</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>Otto</td>
                                          </tr>
                                          <tr>
                                            <td>Jim Doe</td>
                                            <td>Larry</td>
                                            <td>the Bird</td> 
                                            <td>Otto</td>                                          
                                          </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                              </div>
                              </div><!-- end of row -->
                         <div class="row"><!-- row -->
                             <div class="col-sm-12">                             
                                <div class="box border primary col-sm-12"><!-- work -->
                                  <div class="box-title">                              
                                      <h4><i class="fa fa-check-square-o"></i>Annual Evaluations</h4>
                                  </div>                            
                                  <div class="box-body">
                                    <div class="box-container">                                         
                                         <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Due Date</th>
                                            <th>Completed Date</th>
                                            <th>Evaluator Name</th>   
                                            <th>Status</th>     
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>01/31/2014</td>
                                            <td>01/10/2014</td>
                                            <td>Otto</td>
                                            <td>Satisfactory</td>
                                          </tr>
                                          <tr>
                                            <td>12/31/2013</td>
                                            <td>12/31/2013</td>
                                            <td>Thornton</td>
                                            <td>Needs Improvement</td>
                                          </tr>
                                        </tbody>
                                        </table>
                                     </div>
                                  </div>                              
                                </div><!-- Evaluations -->
                              </div>
                              </div><!-- end of row -->


                          <div class="row"><!-- row -->
                             <div class="col-sm-12">                             
                                <div class="box border orange col-sm-12"><!-- work -->
                                  <div class="box-title">                              
                                      <h4><i class="fa fa-thumbs-o-down"></i>Appointment Rejection</h4>
                                  </div>                            
                                  <div class="box-body">
                                    <div class="box-container">                                         
                                         Need some clarification here. Not sure what should be listed
                                     </div>
                                  </div>                              
                                </div><!-- Evaluations -->
                              </div>
                              </div><!-- end of row -->


                              <div class="row"><!-- row -->
                             <div class="col-sm-12">                             
                                <div class="box border red col-sm-12"><!-- work -->
                                  <div class="box-title">                              
                                      <h4><i class="fa fa-warning"></i>Disciplinary Action</h4>
                                  </div>                            
                                  <div class="box-body">
                                    <div class="box-container">                                         
                                         <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Board Disciplinary Action</th>
                                            <th>Removed From Role</th>
                                            <th>Date</th>                                               
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td>01/01/2012</td>
                                          </tr>
                                        </tbody>
                                        </table>
                                     </div>
                                  </div>                              
                                </div><!-- Evaluations -->
                              </div>
                              </div><!-- end of row -->
                       </div>

                        <div id="research" class="tab-pane fade">
                        <div class="alert alert-info"><strong>Source of the Research Feed data is TBD</strong></div>
                               
                       </div>
                     </div>
                  </div>
                </div>
                <!-- /BOX -->
              </div>

    <!-- JQUERY -->
    <%= render 'shared/javascript' %>

    <script>
        jQuery(document).ready(function() {     
            App.setPage("show_affiliate");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>