<% if notice %>
  <div class="alert alert-block alert-success fade in">
    <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
    <%= notice %>
  </div>
<% end %>


<div class="col-md-12">
                <!-- BOX -->
                <div class="box border">
                  <div class="box-title">
                    <h4><i class="fa fa-columns"></i><span class="hidden-inline-mobile"></span></h4>
                  </div>
                  <div class="box-body">
                    <div class="tabbable header-tabs">
                      <ul class="nav nav-tabs">
                       <li class=""><a data-toggle="tab" href="#research"><i class="fa fa-book"></i> <span class="hidden-inline-mobile">Research</span></a></li> 
                       <li class=""><a data-toggle="tab" href="#assignments"><i class="fa fa-briefcase"></i> <span class="hidden-inline-mobile">Assignments/Evaluations</span></a></li>
                       <li class=""><a data-toggle="tab" href="#appointments"><i class="fa fa-calendar"></i> <span class="hidden-inline-mobile">Dates/Appts.</span></a></li>
                       <li class=""><a data-toggle="tab" href="#training"><i class="fa fa-flask"></i> <span class="hidden-inline-mobile">Training</span></a></li>
                       <li class="active"><a data-toggle="tab" href="#personal"><i class="fa fa-user"></i> <span class="hidden-inline-mobile">Personal</span></a></li>
                      </ul>
                      <div class="tab-content">
                       <div id="personal" class="tab-pane fade active in">
                        <!--
                        <p>Content #1</p>
                        <p> There were flying cantaloupes, rainbows and songs of happiness near by, I mean I was a little frightened by the flying fruit but I'll take this any day over prison inmates. </p>
                        -->
                        
                        <div class="row"><!-- row1 -->
                             <div class="col-sm-12">
                                <div class="box border red col-sm-12">
                                    <div class="box-title">                              
                                        <h4><i class="fa fa-user"></i>Personal</h4>

                                        <div class="tools">
                                          <a href="/affiliates/<%= params[:id] %>/edit">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                       </div>

                                    </div>
                              
                                    <div class="box-body">
                                     

                                      <div class="box-container">
                                           <div class="col-sm-6"> 
                                            <p>
                                              <b>Znumber:</b><br>
                                              <% if @banner %>
                                               <% @banner.each do |b| %>
                                                 <% if b.zid %>
                                                    <%= b.zid %>
                                                  <% else %>
                                                    null
                                                  <% end %>
                                                <% end %>
                                              <% else %>
                                                <%= @affiliate.znumber %>
                                              <% end %>
                                            </p>

                                            <p>
                                              <b>Name:</b><br>
                                               <% if @banner %>
                                                 <% @banner.each do |b| %>
                                                   <%= b.first_name %> <%= b.last_name %> <%= b.name_suffix %> 
                                                  <% end %>
                                              <% else %>
                                                <%= @affiliate.prefix %>  <%= @affiliate.firstname %> <%= @affiliate.lastname %> <%= @affiliate.suffix %>
                                              <% end %>
                                            </p>

                                            <!-- BEGIN show DOB:
                                                  1) must show for faculty only (@affilate.isFaculty == true)
                                                  2) Only visible to ADMINS!!
                                              -->

                                            <% if @affiliate.isfaculty %>  
                                            <p>
                                              <b>DOB:</b><br>
                                               <% if @banner %>
                                                 <% @banner.each do |b| %>
                                                    <% if b.birth_date %>
                                                      <%= b.birth_date %>
                                                    <% else %>
                                                      null
                                                    <% end %>
                                                  <% end %>
                                              <% else %>
                                                  ???
                                              <% end %>
                                            </p>
                                            <% end %>
                                            <!-- END: show DOB -->

                                            <p>
                                              <b>Home Phone:</b><br>
                                               <% if @banner %>
                                                 <% @banner.each do |b| %>
                                                    <% if b.hm_phone %>
                                                      <%= b.hm_phone %>
                                                    <% else %>
                                                       null
                                                    <% end %>
                                                  <% end %>
                                              <% else %>
                                                  ???
                                              <% end %>
                                            </p>

                                             <p>
                                              <b>Emergency Phone:</b><br>
                                               <% if defined?(@affiliate.emergencyphone) %>
                                                  <%= @affiliate.emergencyphone %>
                                              <% else %>
                                                  N/A
                                              <% end %>
                                            </p>

                                            <!--
                                             <p>
                                              <b>Cell Phone:</b><br>
                                               <% if @banner %>
                                                 <% @banner.each do |b| %>
                                                  <% if b.cell %>
                                                    <%= b.cell %>
                                                   <% else %>
                                                       null
                                                    <% end %>
                                                  <% end %>
                                              <% else %>
                                                  ???
                                              <% end %>
                                            </p>
                                          -->

                                            <p>
                                              <b>Address:</b><br>
                                              <% if @banner %>
                                                 <% @banner.each do |b| %>
                                                   <%= b.hm_street_line1 %><br>
                                                   <%= b.hm_city %> <%= b.hm_state %> <%= b.hm_zip %> 
                                                  <% end %>
                                              <% else %>
                                               <%= @affiliate.homestreet %><br>
                                               <%= @affiliate.homecity %> <%= @affiliate.homestate %> <%= @affiliate.homezip %>
                                              <% end %>
                                            </p>
                                                                                   
                                            <p>
                                              <b>License:</b><br>
                                              <%= @affiliate.license %>
                                            </p>
                                          </div>
                                          <div class="col-sm-6"> 
                                           <!--
                                            <p>
                                              <b>Faculty:</b><br>
                                              <%= @affiliate.facultymember %>
                                            </p>
                                            -->

                                            <b>Languages Spoken:</b><br>
                                            <%= form_for(@languagespoken) do |f| %>
                                                <%= hidden_field_tag :affiliate_id, params[:id] %>
                                                                                                
                                                <% @languagelist.each do |lang| %>
                                                  <%= check_box_tag 'languages[language_ids][]', lang.id, Affiliatelanguage.where(:affiliate_id => params[:id]).pluck(:language_id).include?(lang.id) %> 
                                                  <%#= f.check_box :language_id %><%= lang.language %><br/>
                                                <% end %>


                                                 <div class="actions">
                                                  <%= f.submit 'Update Languages Spoken' %>
                                                </div>
                                              <% end %>

                                          </div>
                                            <%= link_to 'Edit', edit_affiliate_path(@affiliate) %> |
                                            <%= link_to 'Back', affiliates_path %>

                                          </div>
                                    </div>
                                  </div>
                                </div><!-- end of row1 -->
                            </div>

                            <div class="row"><!-- row2 -->
                             <div class="col-sm-12">                             
                                <div class="box border orange col-sm-12"><!-- work -->
                                  <div class="box-title">                              
                                      <h4><i class="fa fa-medkit"></i>Work information</h4>

                                       <div class="tools">
                                          <a href="/affiliates/<%= params[:id] %>/edit">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                       </div>
                                  </div>                            
                                  <div class="box-body">
                                    <div class="box-container">                                         
                                         <div class="col-sm-6">  
                                           <p>
                                            <b>Address:</b><br>
                                            <% if !@affiliate.officestreet.blank? %>
                                              <%= @affiliate.officestreet %><br>
                                              <%= @affiliate.officecity %> <%= @affiliate.officestate %> <%= @affiliate.officezip %>
                                            <% else %>
                                               N/A
                                            <% end %>
                                          </p>

                                          <p>
                                            <b>Work email:</b><br>
                                            <% if !@affiliate.emailoffice.blank? %>
                                              <%= @affiliate.emailoffice %>
                                            <% else %>
                                               N/A
                                            <% end %>
                                          </p>

                                          <p>
                                            <b>Work phone:</b><br>
                                            <% if !@affiliate.otherphonenumber.blank? %>
                                              <%= @affiliate.otherphonenumber %>
                                            <% else %>
                                               N/A
                                            <% end %>
                                          </p>

                                          <p>
                                            <b>Fax:</b><br>
                                            <% if !@affiliate.faxnumber.blank? %>
                                              <%= @affiliate.faxnumber %>
                                            <% else %>
                                               N/A
                                            <% end %>
                                          </p>
                                        </div>
                                          <div class="col-sm-6"> 
                                          <p>
                                            <b>Hospital Privileges</b><br>
                                              
                                                <ul>
                                                <% if @showprivileges.count > 0%>
                                                  <% @showprivileges.each do |p| %>
                                                   <li><%= p.hospital.name %> <%= link_to 'Remove', p, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                                                  <% end %>
                                                <% else %>
                                                  <li>None selected</li>
                                                <% end %>
                                                </ul>
                                              
                                          </p>           
                                          
                                            <p>
                                            <b>Add a Hospital Privilege</b><br>
                                            <%= form_for @hospitalprivilege, :html => {:class => 'form'} do |f| %>
                                              <%= hidden_field_tag :affiliate_id, params[:id] %>
                                              <%= collection_select(:hospital, :id, Hospital.all, :id, :name, {}, :class=>'form-control') %>
                                               <div class="actions">
                                                <br><%= f.submit 'Add Privileges'%>
                                              </div>
                                            <% end %>
                                            </p>    


                                             <p>
                                            <b>Hospital Closest to Practice</b><br>
                                              
                                                <ul>
                                                <% if @showclosestprivileges.count > 0%>
                                                  <% @showclosestprivileges.each do |p| %>
                                                   <li><%= p.hospital.name %> <%= link_to 'Remove', p, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                                                  <% end %>
                                                <% else %>
                                                  <li>None selected</li>
                                                <% end %>
                                                </ul>
                                              
                                          </p>           
                                          
                                            <p>
                                            <b>Add a Hospital Closest to Practice:</b><br>
                                            <%= form_for @closesthospitalprivilege, :html => {:class => 'form'} do |f| %>
                                              <%= hidden_field_tag :affiliate_id, params[:id] %>
                                              <%= collection_select(:hospital, :id, Hospital.all, :id, :name, {}, :class=>'form-control') %>
                                               <div class="actions">
                                                <br><%= f.submit 'Add Hospital'%>
                                              </div>
                                            <% end %>
                                            </p>    
                                          </div>  
                                     </div>
                                  </div>                              
                                </div><!-- work -->
                              </div>
                              </div><!-- end of row2 -->


                          </div><!-- end of personal tab-->




                       <div id="training" class="tab-pane fade">
                              <div class="row"><!-- row1 -->
                                <div class="col-sm-6">                             
                                  <!-- BOX -->
                                  <div class="box border inverse">
                                    <div class="box-title">
                                      <h4><i class="fa fa-briefcase"></i>Training</h4>
                                      
                                       <div class="tools">
                                          <a href="/editTraining/<%= params[:id] %>">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                       </div>

                                    </div>
                                    <div class="box-body">
                                            <p>
                                              <b>Florida Medical License:</b><br>
                                              <%= @affiliate.license %>
                                            </p>

                                            <p>
                                              <b>Curriculum-Vitae:</b><br>
                                              ????
                                            </p>


                                            
                                            <p>
                                              <b>Research Area:</b><br>
                                              <% if !@affiliateresearcharea.blank? %>
                                                <% @affiliateresearcharea.each do |r| %>
                                                  <%= r.getResearchAreaName(r.researcharea_id) %>
                                                <% end %>
                                              <% else %>
                                                N/A
                                              <% end %>
                                            </p>

                                            <p>

                                              <b>Research desciption (add'l training):</b><br>
                                              <% if !@affiliateresearcharea.blank? %>
                                               <% @affiliateresearcharea.each do |r| %>
                                                <%= r.researchdescription %>
                                               <% end %>
                                              <% else %>
                                                N/A
                                              <% end %>
                                            </p>
                                            
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>

                                <div class="col-sm-6">                             
                                  <!-- BOX -->
                                  <div class="box border red">
                                    <div class="box-title">
                                      <h4><i class="fa fa-check-square"></i>Certified Specialties</h4>
                                      
                                        <div class="tools">
                                          <a href="/clinicalspecialties/new?affiliate_id=<%= params[:id] %>">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="box-body">
                                           <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Basic Science Discipline</th>
                                            <th>Clinical Specialty</th>
                                            <th>Year received</th>
                                            <th>Actions</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <% if !@clinicalspecialties.blank? %>
                                              <% @clinicalspecialties.each do |cs| %>
                                                <tr>
                                                    <td>
                                                      <% if !cs.basicsciencediscipline_id.blank? %>
                                                      <%= cs.getDisciplineName(cs.basicsciencediscipline_id) %>
                                                      <% end %>

                                                    </td>
                                                    <td><%= cs.getSpecialtyName(cs.speciality_id) %></td>
                                                    <td><%= cs.year %></td>
                                                    <td>  
                                                      <%= link_to 'Update', edit_clinicalspecialty_path(cs , :affiliate_id => params[:id]) %>
                                                      | <%= link_to 'Remove', clinicalspecialty_path(cs , :affiliate_id => params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
                                                </tr>
                                              <% end %>
                                             
                                            <% else %>
                                              <tr>
                                                <td colspan="4">
                                                    <div class="alert alert-block alert-info fade in">
                                                    <a aria-hidden="true" href="#" data-dismiss="alert" class="close">×</a>
                                                      <p></p><h4><i class="fa fa-check-square-o"></i> No Specialties on Record!</h4> Please add specialties by clicking on the pencil icon in the upper right corner.<p></p><br>
                                                  </div>
                                                </td>
                                              </tr>
                                            <% end %>

                                              
                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>

                              </div><!-- end of row1-->

                              <div class="row"><!-- row2 -->
                                <div class="col-sm-12">                             
                                  <!-- BOX -->
                                  <div class="box border primary">
                                    <div class="box-title">
                                      <h4><i class="fa fa-book"></i>Degrees</h4>
                                      
                                      <div class="tools">
                                          <a href="/degrees/new?affiliate_id=<%= params[:id] %>">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="box-body">
                                      <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Degree</th>
                                            <th>Degree Specialty</th>
                                            <th>Degree Year</th>
                                            <th>Institution</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Country</th>
                                            <th>Actions</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <% if !@degrees.blank? %>
                                              
                                              <% @degrees.each do |d| %>
                                                 <tr>
                                                  <td><%= d.getDegreeName(d.degreelist_id) %></td>
                                                  <td><%= d.degreespecialty %></td>
                                                  <td><%= d.year %></td>
                                                  <td><%= d.getInstitutionName(d.institution_id) %></td>
                                                  <td><%= d.city %></td>
                                                  <td><%= d.getStateName(d.state) %></td>
                                                  <td><%= d.getCountryName(d.country) %></td>
                                                  <td> <%= link_to 'Update', edit_degree_path(d , :affiliate_id => params[:id]) %> | <%= link_to 'Remove', degree_path(d , :affiliate_id => params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
                                                </tr>
                                              <% end %>
                                            <% else %>
                                              <tr>
                                                <td colspan="7">
                                                    <div class="alert alert-block alert-info fade in">
                                                    <a aria-hidden="true" href="#" data-dismiss="alert" class="close">×</a>
                                                      <p></p><h4><i class="fa fa-check-square-o"></i> No Degrees on Record!</h4> Please add degrees by clicking on the pencil icon in the upper right corner.<p></p><br>
                                                  </div>
                                                </td>
                                              </tr>
                                            <% end %>
                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                              </div>
                              </div><!-- end of row2-->

                               <div class="row"><!-- row3 -->
                                <div class="col-sm-12">                             
                                  <!-- BOX -->
                                  <div class="box border pink">
                                    <div class="box-title">
                                      <h4><i class="fa fa-stethoscope"></i>Residency</h4>
                                       <div class="tools">
                                          <a href="/residencies/new?affiliate_id=<%= params[:id] %>">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="box-body">
                                      <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Specialty</th>
                                            <th>Location</th>
                                            <th>Training Last Title</th>
                                            <th>Match Connection</th>
                                            <th>Actions</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% if !@residencies.blank? %>
                                              <% @residencies.each do |r| %>
                                                <tr>
                                                    <td><%= r.getSpecialtyName(r.specialty_id) %></td>
                                                    <td><%= r.location %></td>
                                                    <td><%= r.trainingtitle %></td>
                                                    <td><%= r.matchconnection %></td>
                                                    <td>  
                                                      <%= link_to 'Update', edit_residency_path(r , :affiliate_id => params[:id]) %>
                                                      | <%= link_to 'Remove', residency_path(r , :affiliate_id => params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
                                                </tr>
                                              <% end %>
                                             
                                            <% else %>
                                              <tr>
                                                <td colspan="5">
                                                    <div class="alert alert-block alert-info fade in">
                                                    <a aria-hidden="true" href="#" data-dismiss="alert" class="close">×</a>
                                                      <p></p><h4><i class="fa fa-check-square-o"></i> No Residencies on Record!</h4> Please add residency information by clicking on the pencil icon in the upper right corner.<p></p><br>
                                                  </div>
                                                </td>
                                              </tr>
                                            <% end %>
                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                              </div>
                              </div><!-- end of row3 -->

                              <div class="row"><!-- row4 -->
                                <div class="col-sm-12">                             
                                  <!-- BOX -->
                                  <div class="box border green">
                                    <div class="box-title">
                                      <h4><i class="fa fa-user-md"></i>Fellowship</h4>                                     
                                       <div class="tools">
                                          <a href="/fellowships/new?affiliate_id=<%= params[:id] %>">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                      </div>
                                    </div>
                                    <div class="box-body">
                                      <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Specialty</th>
                                            <th>Training</th>
                                            <th>Location</th> 
                                            <th>Actions</th>       
                                          </tr>
                                        </thead>
                                        <tbody>
                                           <% if !@fellowships.blank? %>
                                              <% @fellowships.each do |f| %>
                                                <tr>
                                                    <td><%= f.getSpecialtyName(f.specialty_id) %></td>
                                                    <td><%= f.training %></td>
                                                    <td><%= f.location %></td>
                                                    <td>  
                                                      <%= link_to 'Update', edit_fellowship_path(f , :affiliate_id => params[:id]) %>
                                                      | <%= link_to 'Remove', fellowship_path(f , :affiliate_id => params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
                                                </tr>
                                              <% end %>
                                             
                                            <% else %>
                                              <tr>
                                                <td colspan="4">
                                                    <div class="alert alert-block alert-info fade in">
                                                    <a aria-hidden="true" href="#" data-dismiss="alert" class="close">×</a>
                                                      <p></p><h4><i class="fa fa-check-square-o"></i> No Fellowships on Record!</h4> Please add fellowships by clicking on the pencil icon in the upper right corner.<p></p><br>
                                                  </div>
                                                </td>
                                              </tr>
                                            <% end %>

                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                              </div>
                              </div><!-- end of row4 -->
                       </div>
                       
                      
                      
                      <div id="appointments" class="tab-pane fade">
                        <!-- SHOW THIS ONLY IF THEY ARE FACULTY -->
                         <% if @isfacultyflag == 1 %>
                             <div class="row"><!-- row1 -->
                                <div class="col-sm-6">                             
                                  <!-- BOX -->
                                  <div class="box border inverse">
                                    <div class="box-title">
                                      <h4><i class="fa fa-briefcase"></i>Appointment Dates</h4>
                                      
                                       <% if @appointment_dates.blank? %>
                                       <div class="tools">
                                          <a href="/appointment_dates/new?affiliate_id=<%= params[:id] %>">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                       </div>
                                      <% else %>
                                        <div class="tools">
                                          <% @appointment_dates.each do |cd| %>
                                            <a href="/appointment_dates/<%= cd.id %>/edit?affiliate_id=<%= params[:id] %>">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                          <% end %>
                                       </div>
                                      <% end %>

                                    </div>
                                    <div class="box-body">
                                            <p>
                                              <b>Start Date at FAU:</b><br>
                                              
                                                <% @banner.each do |b| %>
                                                  <% if b.primary_job_start_date %>
                                                    <%= b.primary_job_start_date %>
                                                  <% else %>
                                                    null
                                                  <% end %>
                                                <% end %>
                                              
                                            </p>

                                              <p>
                                              <b>Start Date at College of Medicine:</b><br>
                                                 <% if !@appointment_dates.blank? %>
                                                   <% @appointment_dates.each do |ad| %>
                                                       <%= ad.com_start_date %>
                                                   <% end %>
                                                 <% end %>
                                            </p>


                                            <p>
                                              <b>Date of Last Increase:</b><br>
                                              
                                                  <% @banner.each do |b| %>
                                                    <% if b.last_incr_date %>
                                                      <%= b.last_incr_date %>
                                                    <%else%>
                                                      null
                                                    <%end%>
                                                  <% end %>
                                             
                                            </p>

                                            <p>
                                              <b>Appointment Start Date:</b><br>
                                              ????
                                            </p>

                                            <p>
                                              <b>Appointment End Date:</b><br>
                                              ????
                                            </p>
                                             <p>
                                                <b>Classification Date:</b><br>
                                                 <% @banner.each do |b| %>
                                                    <% if b.first_hire_date %>
                                                      <%= b.first_hire_date %>
                                                    <%else%>
                                                      null
                                                    <%end%>
                                                <% end %>
                                             </p>
                                             <p>
                                                <b>Classification:</b><br>
                                                <% @banner.each do |b| %>
                                                    <% if b.ecls_desc %>
                                                      <%= b.ecls_desc %>
                                                    <%else%>
                                                      null
                                                    <%end%>
                                                <% end %>
                                             </p>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>

                                <div class="col-sm-6">                             
                                  <!-- BOX -->
                                  <div class="box border red">
                                    <div class="box-title">
                                      <h4><i class="fa fa-plus-square"></i>Contract Dates</h4>
                                      
                                      <% if @contract_dates.blank? %>
                                       <div class="tools">
                                          <a href="/contract_dates/new?affiliate_id=<%= params[:id] %>">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                       </div>
                                      <% else %>
                                        <div class="tools">
                                          <% @contract_dates.each do |cd| %>
                                            <a href="/contract_dates/<%= cd.id %>/edit?affiliate_id=<%= params[:id] %>">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                          <% end %>
                                       </div>
                                      <% end %>

                                    </div>
                                    <div class="box-body">                                                               
                                          <p>
                                              <b>Secondary Assignment Start Date:</b><br>
                                                <% @banner.each do |b| %>
                                                  <% if b.secondary_begin_date %>
                                                    <%= b.secondary_begin_date %>
                                                  <%else%>
                                                    null
                                                  <%end%>
                                                <% end %>
                                            </p>

                                            <p>
                                              <b>Contract Start Date:</b><br>
                                                <% @banner.each do |b| %>
                                                  <% if b.primary_job_start_date %>
                                                    <%= b.primary_job_start_date %>
                                                  <%else%>
                                                    null
                                                  <%end%>
                                                <% end %>
                                            </p>

                                            <p>
                                              <b>Contract End Date:</b><br>
                                                <% @banner.each do |b| %>
                                                  <% if b.primary_job_end_date %>
                                                    <%= b.primary_job_end_date %>
                                                  <%else%>
                                                    null
                                                  <%end%>
                                                <% end %>
                                            </p>

                                            <p>
                                              <b>FAU Grad College Membership Start Date:</b><br>
                                               <% if !@contract_dates.blank? %>
                                                 <% @contract_dates.each do |condate| %>
                                                     <%= condate.grad_college_start_date %>
                                                 <% end %>
                                               <% end %>
                                            </p>
                                            <p>
                                              <b>FAU Grad College Membership End Date:</b><br>
                                               <% if !@contract_dates.blank? %>
                                                 <% @contract_dates.each do |condate| %>
                                                     <%= condate.grad_college_end_date %>
                                                 <% end %>
                                               <% end %>
                                            </p>                                           
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>

                              </div><!-- end of row1-->
                            <% end %>
                            
                            <!-- SHOW THIS ONLY IF THEY ARE FACULTY -->
                           <% if @isfacultyflag == 1 %>
                               <div class="row"><!-- row4 -->
                                <div class="col-sm-12">                             
                                  <!-- BOX -->
                                  <div class="box border primary">
                                    <div class="box-title">
                                      <h4><i class="fa fa-plus-square"></i>College of Medicine Dates/Appointments</h4>
                                     
                                    </div>
                                    <div class="box-body">

                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>
                              </div><!-- end of row4 -->
                            <% end %>

                            
                               <div class="row"><!-- row1 -->
                                <% if @isfacultyflag == 1 %>
                                  <div class="col-sm-6">                             
                                <% else %>
                                  <div class="col-sm-12"> 
                                <% end %>

                                  <!-- BOX -->
                                  <div class="box border orange">
                                  
                                      <div class="box-title">
                                      <h4><i class="fa fa-briefcase"></i>CAP Dates</h4>
                                      

                                      <% if @cap_dates.blank? %>
                                       <div class="tools">
                                          <a href="/cap_dates/new?affiliate_id=<%= params[:id] %>">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                       </div>
                                      <% else %>
                                        <div class="tools">
                                          <! -- http://10.16.9.208:3000/cap_dates/4/edit?affiliate_id=24 -->
                                           <% @cap_dates.each do |cd| %>
                                            <a href="/cap_dates/<%= cd.id %>/edit?affiliate_id=<%= params[:id] %>">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                          <% end %>
                                       </div>
                                      <% end %>

                                    </div>
              
                                  

                                    <div class="box-body">
                                            <% if !@cap_dates.blank? %>
                                              <% @cap_dates.each do |cd| %>
                                                   <p>
                                                    <b>CAP Expiration Date:</b><br>
                                                     <%= cd.certificatedate %>
                                                     <!-- [<%= link_to 'Update', edit_cap_date_path(cd, :affiliate_id => params[:id]) %>] -->
                                                      
                                                  </p>

                                                  <p>
                                                    <b>CAP Status:</b><br>
                                                    <%= cd.getStatusName(cd.status)%>
                                                     <!-- [<%= link_to 'Update', edit_cap_date_path(cd, :affiliate_id => params[:id]) %>] -->
                                                  </p>

                                                  <!--
                                                  
                                                  <p>
                                                    <b>CAP Meeting Date:</b><br>
                                                    <%= cd.meetingdate %>
                                                    [<%= link_to 'Update', edit_cap_date_path(cd, :affiliate_id => params[:id]) %>]
                                                  </p>
                                                -->
                                              <% end %>
                                             
                                            <% else %>
                                              
                                                    <div class="alert alert-block alert-info fade in">
                                                    <a aria-hidden="true" href="#" data-dismiss="alert" class="close">×</a>
                                                      <p></p><h4><i class="fa fa-check-square-o"></i> No CAP Dates on Record!</h4> Please add cap dates by clicking on the pencil icon in the upper right corner.<p></p><br>
                                                  </div>
                                               
                                            <% end %>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>

                              <% if @isfacultyflag == 1 %>
                                <div class="col-sm-6">                             
                                  <!-- BOX -->
                                  <div class="box border pink">
                                    <div class="box-title">
                                      <h4><i class="fa fa-plus-square"></i>Faculty Dates</h4>
                                     
                                    </div>
                                    <div class="box-body">
                                          <p>
                                              <b>University Faculty Overload Start Date:</b><br>
                                              ???
                                            </p>

                                            <p>
                                              <b>University Faculty Overload End Date:</b><br>
                                              ????
                                            </p>


                                            
                                            <p>
                                              <b>Tenure Tracking Begin Date:</b><br>
                                              <% @banner.each do |b| %>
                                                <% if b.perappt_tenure_trac_begin_date %>
                                                 <%= b.perappt_tenure_trac_begin_date %>
                                                <%else%>
                                                      null
                                                <%end%>
                                               <% end %> 
                                            </p>

                                            <p>
                                              <b>Tenure on Date:</b><br>
                                               <% @banner.each do |b| %> 
                                                 <% if b.perappt_tenure_eff_date %>
                                                    <%= b.perappt_tenure_eff_date %>
                                                  <%else%>
                                                        null
                                                  <%end%>
                                                <% end %>
                                            </p>

                                            <p>
                                              <b>Tenure Review Date:</b><br>
                                                <% @banner.each do |b| %> 
                                                 <% if b.perappt_tenure_rev_date %>
                                                  <%= b.perappt_tenure_rev_date %>
                                                 <%else%>
                                                        null
                                                  <%end%>
                                                <%end%>
                                            </p>
                                            <p>
                                              <b>Tenure Code:</b><br>
                                              <% @banner.each do |b| %> 
                                                  <% if b.perappt_tenure_code %>
                                                    <%= b.perappt_tenure_code %>
                                                  <%else%>
                                                        null
                                                  <%end%>
                                             <%end%> 
                                            </p>
                                             <p>
                                              <b>Decision (tenure):</b><br>
                                               <% @banner.each do |b| %> 
                                                <% if b.perappt_decision %>
                                                  <%= b.perappt_decision %>
                                                <%else%>
                                                      null
                                                <%end%>
                                              <%end%>
                                            </p>
                                            <p>
                                              <b>Decision (tenure) date:</b><br>
                                              <% @banner.each do |b| %> 
                                                 <% if b.perappt_decision_date %>
                                                  <%= b.perappt_decision_date %>
                                                <%else%>
                                                      null
                                                <%end%>
                                              <%end%>
                                            </p>
                                            <p>
                                              <b>Decision (tenure) deferred to date:</b><br>
                                               <% @banner.each do |b| %> 
                                                   <% if b.perappt_decision_defer_date %>
                                                   <%= b.perappt_decision_defer_date %>
                                                   <%else%>
                                                        null
                                                  <%end%>
                                                <%end%>
                                            </p>
                                         

                                            <p>
                                              <b>Third Year Review Date:</b><br>
                                              ????
                                            </p>

                                            
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                                </div>
                              <% end %>

                              </div><!-- end of row1-->
                         
                       </div>
                       <div id="assignments" class="tab-pane fade">
                        <!--
                        <div class="alert alert-info"><strong>Assignments!</strong> whatever.</div>
                        <p>Assignments</p>
                        <p> Duis autem vel eum iriure dolor. </p>
                        -->
                        <div class="row"><!-- row -->
                             <div class="col-sm-12">                             
                                <!-- BOX -->
                                  <div class="box border green">
                                    <div class="box-title">
                                      <h4><i class="fa fa-user-md"></i>Assignments</h4>
                                     
                                    </div>
                                    <div class="box-body">
                                      <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            
                                            <th>Clinical Divisions</th>
                                            <th>Clinical Specialities</th>  
                                            <!-- only display for faculty -->
                                            <% if @isfacultyflag == 1%> 
                                              <th>Basic Science Discipline</th>   
                                            <% end %>
                                            <th>Vetter</th>  
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <!-- only display for faculty -->
                                            <% if @isfacultyflag  == 1%> 
                                              <td>Otto</td>
                                            <% end %>
                                            <td>John Doe</td>
                                          </tr>
                                          <tr>
                                            
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <!-- only display for faculty -->
                                            <% if @isfacultyflag  == 1 %> 
                                              <td>Otto</td>
                                            <% end %>
                                            <td>Jane Doe</td>
                                          </tr>                                          
                                        </tbody>
                                        </table>
                                    </div>
                                  </div>
                                  <!-- /BOX -->    
                              </div>
                              </div><!-- end of row -->

                        <!-- SHOW THIS ONLY IF THEY ARE FACULTY -->
                         <% if @isfacultyflag == 1 %>

                         <div class="row"><!-- row -->
                             <div class="col-sm-12">                             
                                <div class="box border primary col-sm-12"><!-- work -->
                                  <div class="box-title">                              
                                      <h4><i class="fa fa-check-square-o"></i>Annual Evaluations</h4>

                                      <div class="tools">
                                          <a href="/annualevaluations/new?affiliate_id=<%= params[:id] %>">
                                             <i class="fa fa-pencil"></i>
                                          </a>
                                       </div>
                                  </div>                            
                                  <div class="box-body">
                                    <div class="box-container">                                         
                                         <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Due Date</th>
                                            <th>Completed Date</th>
                                            <th>Evaluator Name</th>   
                                            <th>Status</th>    
                                            <th>Actions</th> 
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% if !@annualevaluations.blank? %>
                                            <% @annualevaluations.each do |a| %>
                                              <tr>
                                                <td><%= a.duedate %></td>
                                                <td><%= a.completeddate %></td>
                                                <td><%= a.getEvaluatorName(a.evaluator_id) %></td>
                                                <td><%= a.getStatus(a.status_id) %></td>
                                                <td>
                                                  <%= link_to 'Update', edit_annualevaluation_path(a , :affiliate_id => params[:id]) %> | <%= link_to 'Remove', annualevaluation_path(a , :affiliate_id => params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %>
                                                </td>
                                              </tr>
                                            <% end %>
                                          <% else %>
                                            <tr>
                                                <td colspan="5">
                                                    <div class="alert alert-block alert-info fade in">
                                                    <a aria-hidden="true" href="#" data-dismiss="alert" class="close">×</a>
                                                      <p></p><h4><i class="fa fa-check-square-o"></i> No Evaluations on Record!</h4> Please add evaluations by clicking on the pencil icon in the upper right corner.<p></p><br>
                                                  </div>
                                                </td>
                                              </tr>
                                          <% end %>                                         
                                        </tbody>
                                        </table>
                                     </div>
                                  </div>                              
                                </div><!-- Evaluations -->
                              </div>
                              </div><!-- end of row -->

                            <% end %>


                          <div class="row"><!-- row -->
                             <div class="col-sm-12">                             
                                <div class="box border orange col-sm-12"><!-- work -->
                                  <div class="box-title">                              
                                      <h4><i class="fa fa-thumbs-o-down"></i>Appointment Rejection</h4>

                                      <div class="tools">
                                          <a href="/appointmentrejections/new?affiliate_id=<%= params[:id] %>">
                                              <i class="fa fa-pencil"></i>
                                          </a>
                                      </div>

                                  </div>                            
                                  <div class="box-body">
                                    <div class="box-container">                                         
                                         <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Vetter</th>
                                            <th>Date</th>
                                            <th>Status</th>   
                                            
                                            <th>Actions</th> 
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% if !@appointmentrejections.blank? %>
                                            <% @appointmentrejections.each do |ar| %>
                                              <tr>
                                                <td><%= ar.vetter %></td>
                                                <td><%= ar.date %></td>
                                                <td><%= ar.status %></td>
                                                <td>
                                                  <%= link_to 'Update', edit_appointmentrejection_path(ar , :affiliate_id => params[:id]) %>| 
                                                  <%#= link_to 'Remove', appointmentrejection(ar , :affiliate_id => params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %> 
                                                  <%= link_to 'Remove', appointmentrejection_path(ar , :affiliate_id => params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %>                          
                                                </td>
                                              </tr>
                                            <% end %>
                                          <% else %>
                                            <tr>
                                                <td colspan="5">
                                                    <div class="alert alert-block alert-info fade in">
                                                    <a aria-hidden="true" href="#" data-dismiss="alert" class="close">×</a>
                                                      <p></p><h4><i class="fa fa-check-square-o"></i> No Appointment Rejections on Record!</h4> Please add rejections by clicking on the pencil icon in the upper right corner.<p></p><br>
                                                  </div>
                                                </td>
                                              </tr>
                                          <% end %>                                         
                                        </tbody>
                                        </table>
                                     </div>
                                  </div>                              
                                </div><!-- Evaluations -->
                              </div>
                              </div><!-- end of row -->


                              <div class="row"><!-- row -->
                             <div class="col-sm-12">                             
                                <div class="box border red col-sm-12"><!-- work -->
                                  <div class="box-title">                              
                                      <h4><i class="fa fa-warning"></i>Disciplinary Action</h4>
                                      <div class="tools">
                                        <a href="/disciplinaryactions/new?affiliate_id=<%= params[:id] %>">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                      </div>     
                                  </div>                
                                         
                                  <div class="box-body">
                                    <div class="box-container">                                         
                                         <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th>Board Disciplinary Action</th>
                                            <th>Removed From Role</th>
                                            <th>Date</th>   
                                            <th>Vetter</th>    
                                            <th>Actions</th>                                        
                                          </tr>
                                        </thead>
                                        <tbody>
                                           <% if !@disciplinaryactions.blank? %>
                                            <% @disciplinaryactions.each do |da| %>
                                              <tr>
                                                <td><%= da.disciplinaryaction %></td>
                                                <td><%= da.removed %></td>
                                                <td><%= da.date %></td>
                                                <td><%= da.vetter %></td>
                                                <td>
                                                  <%= link_to 'Update', edit_disciplinaryaction_path(da , :affiliate_id => params[:id]) %> | <%= link_to 'Remove', disciplinaryaction_path(da , :affiliate_id => params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %>
                                                </td>
                                              </tr>
                                            <% end %>
                                          <% else %>
                                            <tr>
                                                <td colspan="5">
                                                    <div class="alert alert-block alert-info fade in">
                                                    <a aria-hidden="true" href="#" data-dismiss="alert" class="close">×</a>
                                                      <p></p><h4><i class="fa fa-check-square-o"></i> No Disciplinary Actions on Record!</h4> Please add actions by clicking on the pencil icon in the upper right corner.<p></p><br>
                                                  </div>
                                                </td>
                                              </tr>
                                          <% end %> 
                                        </tbody>
                                        </table>
                                     </div>
                                  </div>                              
                                </div><!-- Evaluations -->
                              </div>
                              </div><!-- end of row -->
                       </div>

                        <div id="research" class="tab-pane fade">
                        <div class="alert alert-info">
                          <ul>
                            <li><strong>Phase II implmentation</strong></li>
                            <li><strong>Data will come from GRANTS-ERA and other sources to be determined</strong></li>
                          </ul>

                          </div>
                               
                       </div>
                     </div>
                  </div>
                </div>
                <!-- /BOX -->
              </div>

    <!-- JQUERY -->
    <%= render 'shared/javascript' %>

    <script>
        jQuery(document).ready(function() {     
            App.setPage("show_affiliate");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>