<h1>Listing faculty_dates</h1>

<table>
  <tr>
    <th>Overloadstart</th>
    <th>Overloadend</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @faculty_dates.each do |faculty_date| %>
  <tr>
    <td><%= faculty_date.overloadstart %></td>
    <td><%= faculty_date.overloadend %></td>
    <td><%= link_to 'Show', faculty_date %></td>
    <td><%= link_to 'Edit', edit_faculty_date_path(faculty_date) %></td>
    <td><%= link_to 'Destroy', faculty_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Faculty date', new_faculty_date_path %>
