<p id="notice"><%= notice %></p>

<p>
  <b>Overloadstart:</b>
  <%= @faculty_date.overloadstart %>
</p>

<p>
  <b>Overloadend:</b>
  <%= @faculty_date.overloadend %>
</p>


<%= link_to 'Edit', edit_faculty_date_path(@faculty_date) %> |
<%= link_to 'Back', faculty_dates_path %>
