<p id="notice"><%= notice %></p>

<p>
  <b>Discipline:</b>
  <%= @basicsciencediscipline.id %>
</p>

<p>
  <b>Discipline name:</b>
  <%= @basicsciencediscipline.disciplinename %>
</p>


<%= link_to 'Edit', edit_basicsciencediscipline_path(@basicsciencediscipline) %> |
<%= link_to 'Back', basicsciencedisciplines_path %>
